.app {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.app__body {
  display: flex;
  padding: 20px 240px 0 190px;
  background-color: #f3f2ef;
}

@media (max-width: 1000px) {
  .app__body {
    padding-left: 60px;
    padding-right: 60px;
  }
}
