.login {
  padding: 20px 200px;
}

.login__header > a > img {
  object-fit: contain;
  width: 150px;
}

.login__body {
  margin-top: 50px;
  display: flex;
}

.login__bgImg {
  position: relative;
}

.login__bgImg .img-d {
  width: 700px;
  height: 670px;
  z-index: -1;
  position: absolute;
  top: -30px;
}

.img-m {
  display: none;
}

.login__title {
  font-size: 55px;
  font-weight: 300;
  color: #8f5849;
  max-width: 600px;
  line-height: 68px;
}

.login__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.login__form > input {
  width: 400px;
  padding: 14px 10px;
  font-size: 16px;
  margin-bottom: 13px;
  outline: none;
}

.login__form > input:focus {
  border: 2px solid #0a66c2;
}

.login__form > button {
  width: 420px;
  padding: 18px 10px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background-color: #0a66c2;
  color: white;
  margin-bottom: 13px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.login__form > button:hover {
  background-color: #004182;
}

.login__register {
  color: #666666;
}

.login__register > span {
  cursor: pointer;
  color: #0a66c2;
}

@media (max-width: 425px) {
  .login__body {
    flex-direction: column;
  }

  .login__bgImg {
    left: 0 !important;
  }

  .img-d {
    display: none;
  }

  .img-m {
    display: block;
  }
}

@media (max-width: 1000px) {
  .login {
    padding: 20px;
  }

  .login__header > a > img {
    width: 100px;
  }

  .login__bgImg {
    left: -245px;
  }
  
  .login__bgImg .img-d {
    width: 600px;
  }
}
